body,
main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: bisque;
    color: rgb(54, 54, 54);
    cursor: default;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a:link {
    color: rgb(95, 95, 95);
    text-decoration: none;
}

a:visited {
    color: rgb(95, 95, 95);
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto auto auto auto auto;
    gap: 1rem;
    justify-content: center;
    width: auto;
    height: 100%;
    margin: 10%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#gameTitle {
    text-align: center;
    background-color: rgb(206, 175, 138);
    grid-row: 1;
    grid-column: 1 / span 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#gameTitle p {
    font-size: 60pt;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

#content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    text-align: justify;
    width: auto;
    height: auto;
    grid-column: 1;
    grid-row: 3 / span 2;
}

#content p {
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(236, 205, 166);
    font-size: 15pt;
    color: rgb(54, 54, 54);
    margin: 0;
}

#videoGermany {
    margin: 0;
    padding: 0;
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#gameDownloadPanel {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(236, 205, 166);
    margin: 0;
    padding: 0;
}

#gameDownloadPanel p {
    padding: 1rem;
    margin: 0;
    text-align: justify;
    font-size: 15pt;
}

.slideshow-container {
    grid-column: 1;
    grid-row: 2;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0;
}

.slideshow-container img {
    width: 100%;
    height: auto;
}

.mySlides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#credits-container {
    margin: 0;
    border-radius: 10px;
    background-color: rgb(236, 205, 166);
    font-size: 20pt;
}

#creditsTitle {
    border-bottom-style: solid;
    border-width: 2px;
    background-color: rgb(209, 181, 146);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0;
    padding: 0;
    width: auto;
}

#creditsTitle p {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: 600;
}

#creditsContent p {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 17pt;
}

#contact {
    grid-column: 1;
    grid-row: 3;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15pt;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

#contact p {
    text-transform: uppercase;
    margin: 0;
    padding: 0
}

.link {
    margin: 0;
    padding: 0.5rem 0.5rem 1rem 1rem;
}

#playButton {
    grid-row: 5;
    grid-column: 1 / span 2;
    margin: 0;
    padding: 0;
}

#playButton button {
    background-color: rgb(234, 191, 138);
    border-radius: 10px;
    font-size: 45pt;
    text-align: center;
    width: 100%;
    height: 5rem;
    font-weight: 600;
    color: rgb(54, 54, 54);
    border-style: none;
    text-transform: uppercase;
}

#playButton button:active {
    color: white;
    outline: 0;
}

#playButton button:hover {
    cursor: pointer;
    background-color: rgb(219, 187, 147);
}

#footer {
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(206, 175, 138);
    font-size: 23pt;
    font-weight: 500;
    text-transform: uppercase;
    grid-row: 6;
    grid-column: 1 / span 2;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#footer a {
    font-size: 17pt;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    #container {
        grid-template-columns: auto;
        grid-row: auto auto;
        margin: 1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    #gameTitle {
        grid-row: 1;
        grid-column: 1;
    }

    #gameTitle p {
        font-size: 20pt;
    }

    #content {
        grid-row: 2;
        grid-column: 1;
    }

    #gameDownloadPanel {
        grid-column: 1;
        grid-row: 3;
    }

    #content p {
        font-size: 15px;
    }

    #videoGermany {
        grid-row: 4;
        grid-column: 1;
    }

    #credits-container {
        grid-row: 5;
        grid-column: 1;
        font-size: 15pt;
        padding: 0;
        padding-bottom: 1rem;
    }

    #creditsTitle p{
        font-size: 20pt;
    }

    #creditsContent p{
        font-size: 15pt;
    }

    #contact p{
        font-size: 15pt;
    }

    #playButton {
        grid-row: 6;
        grid-column: 1;
    }

    #footer {
        grid-row: 7;
        grid-column: 1;
        font-size: 10px;
        height: fit-content;
        margin: 0;
    }

    #footer a {
        font-size: 10px;
    }

    .slideshow-container {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: portrait) {

    #gameTitle p{
        font-size: 30pt;
    }

    #playButton {
        grid-row: 5;
    }
    
    #footer {
        grid-row: 6;
        font-size: 15pt;
    }

    #footer a {
        font-size: 10pt;
    }
}